In [1]:
print ("Hello world")

Hello world

In [2]:
2+6

8

In [3]:
a=10

In [4]:
a

10

here the comment starts

In [5]:
import pandas as pd

In [6]:
import

In [7]:
df.head()

,SHORT TITLE,TYPE,STATUS,PARTIES,DATE OF SIGNATURE,DATE OF ENTRY INTO FORCE,TEXT
0,Albania - United Arab Emirates BIT (2015),BITs,In force,"Albania, United Arab Emirates",2015-10-15 00:00:00,2017-02-17,Full text: al
1,Albania - Russian Federation BIT (1995),BITs,In force,"Albania, Russian Federation",1995-04-11 00:00:00,1996-05-29,Full text: al | ru
2,Jordan - Saudi Arabia BIT (2017),BITs,Signed (not in force),"Jordan, Saudi Arabia",2017-03-27 00:00:00,NaT,Full text: ar
3,Armenia - Jordan BIT (2014),BITs,In force,"Armenia, Jordan",2014-10-29 00:00:00,2017-11-22,Full text: ar
4,Jordan - Iraq BIT (2013),BITs,Signed (not in force),"Iraq, Jordan",2013-12-25 00:00:00,NaT,Full text: ar

In [8]:
dt.tail()

NameError: name 'dt' is not defined

In [9]:
df.tail ()

,SHORT TITLE,TYPE,STATUS,PARTIES,DATE OF SIGNATURE,DATE OF ENTRY INTO FORCE,TEXT
3379,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3380,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3381,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3382,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3383,NaN,,NaN,NaN,NaN,NaT,NaN

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df(shape)

NameError: name 'shape' is not defined

In [12]:
df.shape

(3384, 7)

In [13]:
df.columns

Index(['SHORT TITLE', 'TYPE', 'STATUS', 'PARTIES', 'DATE OF SIGNATURE',
       'DATE OF ENTRY INTO FORCE', 'TEXT'],
      dtype='object')

In [14]:
df.dtypes

SHORT TITLE                         object
TYPE                                object
STATUS                              object
PARTIES                             object
DATE OF SIGNATURE                   object
DATE OF ENTRY INTO FORCE    datetime64[ns]
TEXT                                object
dtype: object

In [15]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3384 entries, 0 to 3383
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SHORT TITLE               3363 non-null   object
 1   TYPE                      3364 non-null   object
 2   STATUS                    3363 non-null   object
 3   PARTIES                   3363 non-null   object
 4   DATE OF SIGNATURE         3363 non-null   object
 5   DATE OF ENTRY INTO FORCE  2678 non-null   datetime64[ns]
 6   TEXT                      3036 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 185.2+ KB

In [16]:
df.name_text

AttributeError: 'DataFrame' object has no attribute 'name_text'

In [17]:
import pandas as pd

In [18]:
import numpy as np

In [19]:
import pandas as pd

In [20]:
workbook = pd.read_excel('//Users//macintosh//Desktop//THESIS//Product List.xlsx')

In [21]:
read_excel()

NameError: name 'read_excel' is not defined

In [22]:
read_workbook()

NameError: name 'read_workbook' is not defined

In [23]:
df= pd.read_excel ("//Users//macintosh//Desktop//THESIS//Product List.xlsx")

In [24]:
df_csv= pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [25]:
excel_file= "//Users//macintosh//Desktop//THESIS//Product List.xlsx"

In [26]:
excel_file = "//Users//macintosh//Desktop//THESIS//Product List.xlsx"

In [27]:
df = pd.read_excel(excel_file)

In [28]:
print(df)

                                    SHORT TITLE  TYPE                 STATUS  \
0     Albania - United Arab Emirates BIT (2015)  BITs               In force
1       Albania - Russian Federation BIT (1995)  BITs               In force
2              Jordan - Saudi Arabia BIT (2017)  BITs  Signed (not in force)
3                   Armenia - Jordan BIT (2014)  BITs               In force
4                      Jordan - Iraq BIT (2013)  BITs  Signed (not in force)
...                                         ...   ...                    ...
3379                                        NaN   NaN                    NaN
3380                                        NaN   NaN                    NaN
3381                                        NaN   NaN                    NaN
3382                                        NaN   NaN                    NaN
3383                                        NaN                          NaN

                            PARTIES    DATE OF SIGNATURE  \
0     Albania, United Arab Emirates  2015-10-15 00:00:00
1       Albania, Russian Federation  1995-04-11 00:00:00
2              Jordan, Saudi Arabia  2017-03-27 00:00:00
3                   Armenia, Jordan  2014-10-29 00:00:00
4                      Iraq, Jordan  2013-12-25 00:00:00
...                             ...                  ...
3379                            NaN                  NaN
3380                            NaN                  NaN
3381                            NaN                  NaN
3382                            NaN                  NaN
3383                            NaN                  NaN

     DATE OF ENTRY INTO FORCE                TEXT
0                  2017-02-17       Full text: al
1                  1996-05-29  Full text: al | ru
2                         NaT       Full text: ar
3                  2017-11-22       Full text: ar
4                         NaT       Full text: ar
...                       ...                 ...
3379                      NaT                 NaN
3380                      NaT                 NaN
3381                      NaT                 NaN
3382                      NaT                 NaN
3383                      NaT                 NaN

[3384 rows x 7 columns]

In [29]:
import pandas as pd

In [30]:
df = pd.read_excel('//Users//macintosh//Desktop//THESIS//Product List.xlsx')

SyntaxError: invalid non-printable character U+00A0 (1471956115.py, line 1)

In [31]:
import pandas as pd

In [32]:
df= pd.read_excel ("//Users//macintosh//Desktop//THESIS//Product List.xlsx")

In [33]:
df.head()

,SHORT TITLE,TYPE,STATUS,PARTIES,DATE OF SIGNATURE,DATE OF ENTRY INTO FORCE,TEXT
0,Albania - United Arab Emirates BIT (2015),BITs,In force,"Albania, United Arab Emirates",2015-10-15 00:00:00,2017-02-17,Full text: al
1,Albania - Russian Federation BIT (1995),BITs,In force,"Albania, Russian Federation",1995-04-11 00:00:00,1996-05-29,Full text: al | ru
2,Jordan - Saudi Arabia BIT (2017),BITs,Signed (not in force),"Jordan, Saudi Arabia",2017-03-27 00:00:00,NaT,Full text: ar
3,Armenia - Jordan BIT (2014),BITs,In force,"Armenia, Jordan",2014-10-29 00:00:00,2017-11-22,Full text: ar
4,Jordan - Iraq BIT (2013),BITs,Signed (not in force),"Iraq, Jordan",2013-12-25 00:00:00,NaT,Full text: ar

In [34]:
df[df["Text"] == 'Full text:en'].head()

KeyError: 'Text'

In [35]:
print(data.columns)

NameError: name 'data' is not defined

In [36]:
df[df["TEXT"] == 'Full text:en'].head()

Empty DataFrame
Columns: [SHORT TITLE, TYPE, STATUS, PARTIES, DATE OF SIGNATURE, DATE OF ENTRY INTO FORCE, TEXT]
Index: []

In [37]:
df[df["Text"].head()

SyntaxError: unexpected EOF while parsing (1976960371.py, line 1)

In [38]:
import pandas as pd

In [39]:
excel_file= 'Product List.xlsx'

In [40]:
df= pd.red_excel(excel_file, usecols=['TEXT'])

AttributeError: module 'pandas' has no attribute 'red_excel'

In [41]:
df= pd.read_excel(excel_file, usecols=['TEXT'])

FileNotFoundError: [Errno 2] No such file or directory: 'Product List.xlsx'

In [42]:
import pandas as pd

In [43]:
df= pd.read_excel ("//Users//macintosh//Desktop//THESIS//Product List.xlsx")

In [44]:
df[df["TEXT"]

SyntaxError: unexpected EOF while parsing (1470320363.py, line 1)

In [45]:
df['TEXT']

0            Full text: al
1       Full text: al | ru
2            Full text: ar
3            Full text: ar
4            Full text: ar
               ...
3379                   NaN
3380                   NaN
3381                   NaN
3382                   NaN
3383                   NaN
Name: TEXT, Length: 3384, dtype: object

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
file_loc = "Product List.xlsx"

In [4]:
df = pd.read_excel(file_loc, index_col=TEXT, na_values=['NA'], usecols = "TEXT")

NameError: name 'TEXT' is not defined

In [5]:
print(df)

NameError: name 'df' is not defined

In [6]:
df.head()

NameError: name 'df' is not defined

In [15]:
import pandas as pd

In [16]:
df= pd.read_excel ("//Users//macintosh//Desktop//THESIS//Product List.xlsx")

In [9]:
df.(head)

SyntaxError: invalid syntax (2128476482.py, line 1)

In [17]:
df.head()

,SHORT TITLE,TYPE,STATUS,PARTIES,DATE OF SIGNATURE,DATE OF ENTRY INTO FORCE,TEXT
0,Albania - United Arab Emirates BIT (2015),BITs,In force,"Albania, United Arab Emirates",2015-10-15 00:00:00,2017-02-17,Full text: al
1,Albania - Russian Federation BIT (1995),BITs,In force,"Albania, Russian Federation",1995-04-11 00:00:00,1996-05-29,Full text: al | ru
2,Jordan - Saudi Arabia BIT (2017),BITs,Signed (not in force),"Jordan, Saudi Arabia",2017-03-27 00:00:00,NaT,Full text: ar
3,Armenia - Jordan BIT (2014),BITs,In force,"Armenia, Jordan",2014-10-29 00:00:00,2017-11-22,Full text: ar
4,Jordan - Iraq BIT (2013),BITs,Signed (not in force),"Iraq, Jordan",2013-12-25 00:00:00,NaT,Full text: ar

In [11]:
cols = ["SHORT TITLE","TYPE","STATUS","PARTIES","DATE OF SIGNATURE","DATE OF ENTRY INTO FORCE","TEXT"]

In [12]:
df = pd.read_csv("Product List copy.csv", usecols=cols)

FileNotFoundError: [Errno 2] No such file or directory: 'Product List copy.csv'

In [13]:
pd.read_csv(r'C:/Users/macintosh/Desktop/THESIS')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/macintosh/Desktop/THESIS'

In [14]:
pd.read_csv(//Users//macintosh//Desktop//THESIS//Product List.xlsx)

SyntaxError: invalid syntax (3210313618.py, line 1)

In [18]:
import pandas as pd

In [19]:
df= pd.read_excel ("//Users//macintosh//Desktop//THESIS//Product List.xlsx")

In [20]:
df.head()

,SHORT TITLE,TYPE,STATUS,PARTIES,DATE OF SIGNATURE,DATE OF ENTRY INTO FORCE,TEXT
0,Albania - United Arab Emirates BIT (2015),BITs,In force,"Albania, United Arab Emirates",2015-10-15 00:00:00,2017-02-17,Full text: al
1,Albania - Russian Federation BIT (1995),BITs,In force,"Albania, Russian Federation",1995-04-11 00:00:00,1996-05-29,Full text: al | ru
2,Jordan - Saudi Arabia BIT (2017),BITs,Signed (not in force),"Jordan, Saudi Arabia",2017-03-27 00:00:00,NaT,Full text: ar
3,Armenia - Jordan BIT (2014),BITs,In force,"Armenia, Jordan",2014-10-29 00:00:00,2017-11-22,Full text: ar
4,Jordan - Iraq BIT (2013),BITs,Signed (not in force),"Iraq, Jordan",2013-12-25 00:00:00,NaT,Full text: ar

In [21]:
df[“TEXT”]

SyntaxError: invalid character '“' (U+201C) (3127701693.py, line 1)

In [22]:
df['TEXT']

0            Full text: al
1       Full text: al | ru
2            Full text: ar
3            Full text: ar
4            Full text: ar
               ...
3379                   NaN
3380                   NaN
3381                   NaN
3382                   NaN
3383                   NaN
Name: TEXT, Length: 3384, dtype: object